<nav class="sticky-top mb-5">
    <ul>
        <li>
            <a class="p-1 p-md-3" href="/">Home</a>
        </li>
        <li>
            <a class="p-1 p-md-3" href="/mexico">Destinations</a>
        </li>
    </ul>

    <a class="p-1 p-md-3" href="#">About Me</a>
</nav>