<%- include('partials/head.ejs') %>

    <body class="body-about">

        <%- include('partials/navbar.ejs') %>

            <div class="container container-about mt-5">

                <div class="row align-items-center">
                    <div class="col-xs-12 col-md-4 col-picture">
                        <!-- Profile picture -->
                        <img src="/photos/me2-cropped.jpg" class="img-profile img-flex mt-5 p-2" alt="">
                    </div>

                    <div class="col">
                        <!-- Column with about me info -->
                        <h1 class="h1-about">Hello! I'm Madzia</h1>
                        <p>
                            My full name is Magdalena Śliwińska and I am looking for an opportunity to join a team
                            as a full-time <b> trainee/junior web developer.
                            </b>
                        </p>
                        <p>
                            During my master studies in Biology I was learning basics of Python and got interested in
                            programming. I finished a course "Bioinformatic Methods I" offered by University of Toronto
                            and continued my education in biology as a PhD student. During that time I decided to learn
                            more about job opportunites in IT and web development caught my attention. I got a job as a
                            consumer service representative in a company selling printers where I was providing tech
                            support for installing and solving problems with them and computers itself. This position
                            gave me an opportunity not only to learn SalesForce and help others via emails and phone
                            calls
                            but also to solve problems effectively, increase my knowledge in operating systems and
                            improve my English skills. In my free time I was learning web development on online learning
                            platforms and I finished them and got certificates for them like The Git & Github Bootcamp
                            and in Introduction to Development with HTML, CSS and Javascript. In order to understand
                            more back-end development, I created a project where I was using NodeJS, NPM, Express and
                            EJS. I really enjoyed working on this app as it helped me to see how much I have progressed
                            and learned but also to plan a trip to Mexico with my boyfriend :)
                        </p>
                        <p>
                            In my free time I'm learning Spanish, play video games and read (usually non-fiction).
                        </p>
                    </div>
                </div>
            </div>

            <div class="contact text-center mx-auto my-5">
                <!-- Small div with email (change backround - :hover effect) -->
                <h2 class="email">Get in touch!</h2>
                <p class="email-address">madziakorczak7@gmail.com</p>
            </div>

            <script src="/js/app.js"></script>
    </body>

    </html>