<%- include('partials/head.ejs') %>

    <body class="body-about">

        <%- include('partials/navbar.ejs') %>

            <div class="container container-about mt-5">

                <div class="row align-items-center">
                    <div class="col-xs-12 col-md-4 col-picture">
                        <!-- Profile picture -->
                        <img src="/photos/me2-cropped.jpg" class="img-profile img-flex mt-5 p-2" alt="">
                    </div>

                    <div class="col">
                        <!-- Column with about me info -->
                        <h1 class="h1-about">Hello! I'm Magda</h1>
                        <p>
                            Tiramisu jujubes halvah pudding muffin sugar plum danish. Apple pie tootsie roll sweet roll
                            chocolate cake cupcake. Sesame snaps oat cake liquorice cake lemon drops halvah. Lollipop
                            jujubes oat cake candy dragée wafer. Cake biscuit sweet roll cheesecake sugar plum chocolate
                            bar
                            cookie marshmallow lollipop. Chocolate dessert lollipop tiramisu jujubes pastry fruitcake
                            sweet.
                            Halvah chocolate bar candy jelly-o pudding. Chupa chups dessert muffin liquorice
                            gingerbread.
                            Fruitcake gingerbread muffin gummies tootsie roll cookie caramels muffin dessert.
                        </p>
                    </div>
                </div>
            </div>

            <div class="contact text-center mx-auto my-5">
                <!-- Small div with email (change backround - :hover effect) -->
                <h2 class="email">Get in touch!</h2>
                <p class="email-address">madziakorczak7@gmail.com</p>
            </div>

            <script src="/js/app.js"></script>
    </body>

    </html>