<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Destinations</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/destinations.css">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Destinations</a>
            </li>
        </ul>

        <a href="#">About Me</a>
    </nav>
    <div class="container">
        <h1 class="text-center m-5">Details <%= name%>
        </h1>
        <hr>
        <h3>
            State: <%= data.state%>
        </h3>
        <h3>About:

            <%= data.description%>
        </h3>

        <% if (data.img) { %>
            <img src="data.img" alt="">

            <%}%>

    </div>



</body>

</html>