<%- include('partials/head.ejs') %>

    <body class="body-home">

        <%- include('partials/navbar.ejs') %>

            <div class="intro container d-flex flex-column justify-content-between">
                <h1 class="text-center mb-5 h1-home">Why do you go away?</h1>
                <figure>
                    <blockquote class="blockquote fs-3">
                        <p>So that you can come back. So that you can see the place you came from with new eyes and
                            extra colors. And the people there see you differently, too. Coming back to where you
                            started is not the same as never leaving.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Terry Pratchett in <cite title="A Hat Full of Sky">A Hat Full of Sky</cite>
                    </figcaption>
                </figure>
            </div>

    </body>

    </html>