<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Destinations</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Grape+Nuts&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Share:ital,wght@0,400;0,700;1,400;1,700&family=Vibur&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a class="p-1 p-md-3" href="">Home</a>
            </li>
            <li>
                <a class="p-1 p-md-3" href="">Destinations</a>
            </li>
        </ul>

        <a class="p-1 p-md-3" href="#">About Me</a>
    </nav>

    <div class="intro container d-flex flex-column justify-content-between">
        <h1 class="text-center mb-5">Why do you go away?</h1>
        <figure>
            <blockquote class="blockquote fs-3">
                <p>So that you can come back. So that you can see the place you came from with new eyes and
                    extra colors. And the people there see you differently, too. Coming back to where you started is not
                    the same
                    as never leaving.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Terry Pratchett in <cite title="A Hat Full of Sky">A Hat Full of Sky</cite>
            </figcaption>
        </figure>
    </div>

</body>

</html>